In [1]:
from server import *
from global_functions import *
from analysis.analysis import *
from games.guessing_game import *
from games.bar_game import *
from games.diner_dilemma import *
from games.divide_dollar import *

In [2]:
models = ["gpt-3.5-turbo_", "gpt-4o_", "gemini-1.5-pro_", "llama-3.1-70b_"]
model = models[0]
name = {
    "gpt-3.5-turbo_": "", 
    "gpt-4o_": "gpt-4o_", 
    "gemini-1.5-pro_": "gemini-1.5-pro_", 
    "llama-3.1-70b_": "llama-3.1-70b_"
}
"bar_game_implicit", 
gamename = ["guessing_game", "bar_game_implicit", "divide_dollar", "diner_dilemma"]
gamedict = {
    "guessing_game": "Guess 2/3 of the Average", 
    "bar_game_implicit": "El Farol Bar", 
    "divide_dollar": "Divide the Dollar",
    "diner_dilemma": "Diner’s Dilemma", 
}

In [3]:
import pandas as pd
import numpy as np
data = []

# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(1,6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DivideDollar)
        x = gamex.compute_score()
        scores.append(x)

    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]

    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# Create DataFrame
columns = [r"\bf Tests", r"\bf T1 (Default)", r"\bf T2", r"\bf T3", r"\bf T4", r"\bf T5", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

34.59
37.725
36.13
41.67
32.695
\begin{tabular}{lllllll}
\bf Tests & \bf T1 (Default) & \bf T2 & \bf T3 & \bf T4 & \bf T5 & \bf $Avg_{\pm Std}$ \\
Guess 2/3 of the Average & $65.4$ & $62.3$ & $63.9$ & $58.3$ & $67.3$ & $63.4_{\pm3.4}$ \\
El Farol Bar & $73.3$ & $67.5$ & $68.3$ & $67.5$ & $66.7$ & $68.7_{\pm2.7}$ \\
Divide the Dollar & $68.1$ & $67.7$ & $68.7$ & $66.0$ & $72.6$ & $68.6_{\pm2.4}$ \\
Diner’s Dilemma & $4.0$ & $3.5$ & $0.0$ & $6.5$ & $0.0$ & $2.8_{\pm2.8}$ \\
\end{tabular}

In [4]:
import pandas as pd
import numpy as np
data = []

# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', DivideDollar)
        x = gamex.compute_score()
        scores.append(x)

    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]

    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# Create DataFrame
columns = [r"\bf Temperature", r"\bf 0.0", r"\bf 0.2", r"\bf 0.4", r"\bf 0.6", r"\bf 0.8", r"\bf 1.0", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

52.025
50.05
50.24
45.305
38.325
34.59
\begin{tabular}{llllllll}
\bf Temperature & \bf 0.0 & \bf 0.2 & \bf 0.4 & \bf 0.6 & \bf 0.8 & \bf 1.0 & \bf $Avg_{\pm Std}$ \\
Guess 2/3 of the Average & $48.0$ & $50.0$ & $49.8$ & $54.7$ & $61.7$ & $65.4$ & $54.9_{\pm7.1}$ \\
El Farol Bar & $55.8$ & $71.7$ & $63.3$ & $68.3$ & $69.2$ & $73.3$ & $66.9_{\pm6.4}$ \\
Divide the Dollar & $69.3$ & $67.0$ & $67.6$ & $67.9$ & $72.8$ & $68.1$ & $68.8_{\pm2.1}$ \\
Diner’s Dilemma & $0.0$ & $0.0$ & $0.0$ & $0.0$ & $0.0$ & $4.0$ & $0.7_{\pm1.6}$ \\
\end{tabular}

In [5]:
import pandas as pd
import numpy as np
data = []

# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(1, 6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', DivideDollar)
        x = gamex.compute_score()
        scores.append(x)

    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]

    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# Create DataFrame
columns = [r"\bf Version", r"\bf V1 (Default)", r"\bf V2", r"\bf V3", r"\bf V4", r"\bf V5", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

34.59
33.585
52.055
33.105
30.3
\begin{tabular}{lllllll}
\bf Version & \bf V1 (Default) & \bf V2 & \bf V3 & \bf V4 & \bf V5 & \bf $Avg_{\pm Std}$ \\
Guess 2/3 of the Average & $65.4$ & $66.4$ & $47.9$ & $66.9$ & $69.7$ & $63.3_{\pm8.7}$ \\
El Farol Bar & $73.3$ & $75.8$ & $65.8$ & $75.8$ & $71.7$ & $72.5_{\pm4.1}$ \\
Divide the Dollar & $68.1$ & $81.0$ & $91.4$ & $75.8$ & $79.6$ & $79.2_{\pm8.5}$ \\
Diner’s Dilemma & $4.0$ & $3.5$ & $0.0$ & $57.0$ & $18.5$ & $16.6_{\pm23.7}$ \\
\end{tabular}

In [6]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[0]
scores = []
for i in range(13):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_r{i}.json', GuessingGame)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-3.5-turbo_
20.86
38.27
33.355000000000004
34.585
34.59
45.24
81.19
70.02
74.92
65.905
67.31
63.3
73.63
\begin{tabular}{lllllllllllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 & 11 & 12 & 13 & 14 \\
Guess 2/3 of the Average & $79.1$ & $61.7$ & $66.6$ & $65.4$ & $65.4$ & $54.8$ & $37.6$ & $70.0$ & $74.9$ & $65.9$ & $67.3$ & $63.3$ & $73.6$ & $65.1_{\pm10.3}$ \\
\end{tabular}

In [7]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[1]
scores = []
for i in range(6):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_r{i}.json', BarGame)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-3.5-turbo_
\begin{tabular}{llllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 \\
El Farol Bar & $53.5$ & $61.3$ & $63.3$ & $73.3$ & $68.1$ & $60.0$ & $63.3_{\pm6.9}$ \\
\end{tabular}

In [8]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[2]
scores = []
for i in range(1,6):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_g{i}.json', DivideDollar)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-3.5-turbo_
\begin{tabular}{lllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 \\
Divide the Dollar & $73.2$ & $68.1$ & $82.5$ & $82.1$ & $80.7$ & $77.3_{\pm6.4}$ \\
\end{tabular}

In [9]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[3]
scores = []
for i in range(1,7):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_p{i}.json', DinerDilemma)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-3.5-turbo_
\begin{tabular}{llllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 \\
Diner’s Dilemma & $4.0$ & $2.5$ & $4.5$ & $13.5$ & $0.0$ & $12.0$ & $6.1_{\pm5.4}$ \\
\end{tabular}