In [1]:
from server import *
from global_functions import *
from analysis.analysis import *
from games.guessing_game import *
from games.bar_game import *
from games.diner_dilemma import *
from games.divide_dollar import *
from games.sealed_bid_auction import *
from games.battle_royale import *
from games.public_goods import *
from games.pirate_game import *

In [68]:
# 0125 default

models = ["gpt-3.5-turbo_0613", "gpt-3.5-turbo_1106","gpt-3.5-turbo_0125", "gpt-4", "gpt-4o", "gemini-1.0", "gemini-1.5"]
name = {
    "gpt-3.5-turbo_0613": "gpt-3.5-turbo-0613_",
    "gpt-3.5-turbo_1106": "gpt-3.5-turbo-1106_",
    "gpt-3.5-turbo_0125": "", 
    "gpt-4": "gpt-4-0125-preview_",
    "gpt-4o": "gpt-4o_", 
    "gemini-1.0": "gemini-1.0-pro_",
    "gemini-1.5": "gemini-1.5-pro_",
}
gamename = ["guessing_game", "bar_game_implicit", "divide_dollar", "public_goods", "diner_dilemma", "sealed_bid_auction", "battle_royale", "pirate_game"]

gamedict = {
    "guessing_game": "Guess 2/3 of the Average", 
    "bar_game_implicit": "El Farol Bar", 
    "divide_dollar": "Divide the Dollar",
    "public_goods": "Public Goods Game",
    "diner_dilemma": "Diner’s Dilemma", 
    "sealed_bid_auction": "Sealed-Bid Auction",
    "battle_royale": "Battle Royale",
    "pirate_game": "Pirate Game"
}

In [ ]:
import pandas as pd
import numpy as np
from collections import defaultdict
row_score = []
game_row = []
game_score_dict = defaultdict(list)

for game in gamename:
    game_row_score = []
    for model in models:
    # Collect scores for each game
        scores = []  # Reset scores for each game
        # clear the score of the 5 runs of the game for each model
        game_scores = []
        for i in range(1,6):
            if game == "guessing_game":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', GuessingGame)
            elif game == "bar_game_implicit":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BarGame)
            elif game == "diner_dilemma":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DinerDilemma)
            elif game == "divide_dollar":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DivideDollar)
            elif game == "sealed_bid_auction":
                gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1_{i}.json', SealedBidAuction)
            elif game == "public_goods":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PublicGoods)
            elif game == "pirate_game":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PirateGame)
            elif game == "battle_royale":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BattleRoyale)
            x = gamex.compute_score()
            scores.append(x)
        # store all the scores of the 5 run of a game
        game_scores.append(scores)
        # store the 5 run scores of each game for each model
        game_score_dict[model].append(game_scores)
        # Calculate average and standard deviation with one significant figure
        average = round(np.mean(scores), 1)
        std_dev = round(np.std(scores, ddof=1), 1)
        game_row_score.append(f"${average}_{{\pm{std_dev}}}$")
    game_row.append([gamedict[game]] + [s for s in game_row_score])

game_averages = []
for k, game_score_list in game_score_dict.items():
    # print(k, game_score_list)
    game_averages.append([round(np.mean(np.mean(game_score_list, axis=0)), 1), round(np.std(np.mean(game_score_list, axis=0),ddof=1), 1)])

# import pprint
# pprint.pprint(row_score)
game_row.append(["Overall"] + [f"${round(avg, 1)}_{{\pm{round(sd, 1)}}}$" for avg, sd in game_averages])

df = pd.DataFrame(game_row)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

In [ ]:
models = ["llama-3.1-8b", "llama-3.1-70b", "llama-3.1-405b", "mixtral8x7b", "mixtral8x22b", "qwen2-72b"]
name = {
    "llama-3.1-8b": "llama-3.1-8b_",
    "llama-3.1-70b": "llama-3.1-70b_",
    "llama-3.1-405b": "llama-3.1-405b_",
    "mixtral8x7b": "mixtral-8x7b_",
    "mixtral8x22b": "mixtral-8x22b_",
    "qwen2-72b": "qwen2-72b_"
}
gamename = ["guessing_game", "bar_game_implicit", "divide_dollar", "public_goods", "diner_dilemma", "sealed_bid_auction", "battle_royale", "pirate_game"]
gamedict = {
    "guessing_game": "Guess 2/3 of the Average", 
    "bar_game_implicit": "El Farol Bar", 
    "divide_dollar": "Divide the Dollar",
    "public_goods": "Public Goods Game",
    "diner_dilemma": "Diner’s Dilemma", 
    "sealed_bid_auction": "Sealed-Bid Auction",
    "battle_royale": "Battle Royale",
    "pirate_game": "Pirate Game"
}

In [ ]:
import pandas as pd
import numpy as np
from collections import defaultdict
row_score = []
game_row = []
game_score_dict = defaultdict(list)

for game in gamename:
    game_row_score = []
    for model in models:
    # Collect scores for each game
        scores = []  # Reset scores for each game
        # clear the score of the 5 runs of the game for each model
        game_scores = []
        for i in range(1,6):
            if game == "guessing_game":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', GuessingGame)
            elif game == "bar_game_implicit":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BarGame)
            elif game == "diner_dilemma":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DinerDilemma)
            elif game == "divide_dollar":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DivideDollar)
            elif game == "sealed_bid_auction":
                gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1_{i}.json', SealedBidAuction)
            elif game == "public_goods":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PublicGoods)
            elif game == "pirate_game":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PirateGame)
            elif game == "battle_royale":
                gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BattleRoyale)
            x = gamex.compute_score()
            scores.append(x)
        # store all the scores of the 5 run of a game
        game_scores.append(scores)
        # store the 5 run scores of each game for each model
        game_score_dict[model].append(game_scores)
        # Calculate average and standard deviation with one significant figure
        average = round(np.mean(scores), 1)
        std_dev = round(np.std(scores, ddof=1), 1)
        game_row_score.append(f"${average}_{{\pm{std_dev}}}$")
    game_row.append([gamedict[game]] + [s for s in game_row_score])

game_averages = []
for k, game_score_list in game_score_dict.items():
    # print(k, game_score_list)
    game_averages.append([round(np.mean(np.mean(game_score_list, axis=0)), 1), round(np.std(np.mean(game_score_list, axis=0),ddof=1), 1)])

# import pprint
# pprint.pprint(row_score)
game_row.append(["Overall"] + [f"${round(avg, 1)}_{{\pm{round(sd, 1)}}}$" for avg, sd in game_averages])

df = pd.DataFrame(game_row)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

In [87]:
models = ["gpt-3.5-turbo_", "gpt-4o_", "gemini-1.5-pro_", "llama-3.1-70b_"]
model = models[1]
name = {
    "gpt-3.5-turbo_": "", 
    "gpt-4o_": "gpt-4o_", 
    "gemini-1.5-pro_": "gemini-1.5-pro_", 
    "llama-3.1-70b_": "llama-3.1-70b_"
}
"bar_game_implicit", 
gamename = ["guessing_game", "bar_game_implicit", "divide_dollar", "public_goods", "diner_dilemma", "sealed_bid_auction", "battle_royale", "pirate_game"]
gamedict = {
    "guessing_game": "Guess 2/3 of the Average", 
    "bar_game_implicit": "El Farol Bar", 
    "divide_dollar": "Divide the Dollar",
    "public_goods": "Public Goods Game",
    "diner_dilemma": "Diner’s Dilemma", 
    "sealed_bid_auction": "Sealed-Bid Auction",
    "battle_royale": "Battle Royale",
    "pirate_game": "Pirate Game"
}

In [ ]:
import pandas as pd
import numpy as np
data = []
game_scores = []
model = "gpt-4o_"
gamename = ["diner_dilemma"]
# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(1,6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_jailbreak{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DivideDollar)
        elif game == "sealed_bid_auction":
            gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1_{i}.json', SealedBidAuction)
        elif game == "public_goods":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PublicGoods)
        elif game == "pirate_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PirateGame)
        elif game == "battle_royale":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BattleRoyale)
        x = gamex.compute_score()
        scores.append(x)
    game_scores.append(scores)
    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]
    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])
game_column_mean_score = np.mean(game_scores, axis=0)
game_overall_mean_score = round(np.mean(game_column_mean_score), 1)
game_overall_std = round(np.std(game_column_mean_score,ddof=1,axis=0) ,1)
data.append(["\\bf Overall"] + [f"${round(s, 1)}$" for s in game_column_mean_score] + [f"${game_overall_mean_score}_{{\pm{game_overall_std}}}$"])
print(game_column_mean_score)
print(game_overall_mean_score)
print(game_overall_std)
# data.append("Overall" + game_overall_score + [f"${average}_{{\pm{std_dev}}}$"]))
# Create DataFrame
columns = [r"\bf Tests", r"\bf Jailbreak1 (Default)", r"\bf Jailbreak2", r"\bf Jailbreak3", r"\bf Jailbreak4", r"\bf Jailbreak5", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

[ 7.5 13.5  2.   6.5  8. ]
7.5
4.1
\begin{tabular}{lllllll}
\bf Tests & \bf T1 (Default) & \bf T2 & \bf T3 & \bf T4 & \bf T5 & \bf $Avg_{\pm Std}$ \\
Diner’s Dilemma & $7.5$ & $13.5$ & $2.0$ & $6.5$ & $8.0$ & $7.5_{\pm4.1}$ \\
\bf Overall & $7.5$ & $13.5$ & $2.0$ & $6.5$ & $8.0$ & $7.5_{\pm4.1}$ \\
\end{tabular}

In [41]:
import pandas as pd
import numpy as np
data = []
game_scores = []
# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(1,6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', DivideDollar)
        elif game == "sealed_bid_auction":
            gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1_{i}.json', SealedBidAuction)
        elif game == "public_goods":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PublicGoods)
        elif game == "pirate_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', PirateGame)
        elif game == "battle_royale":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_{i}.json', BattleRoyale)
        x = gamex.compute_score()
        scores.append(x)
    game_scores.append(scores)
    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]
    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])
game_column_mean_score = np.mean(game_scores, axis=0)
game_overall_mean_score = round(np.mean(game_column_mean_score), 1)
game_overall_std = round(np.std(game_column_mean_score,ddof=1,axis=0) ,1)
data.append(["\\bf Overall"] + [f"${round(s, 1)}$" for s in game_column_mean_score] + [f"${game_overall_mean_score}_{{\pm{game_overall_std}}}$"])
print(game_column_mean_score)
print(game_overall_mean_score)
print(game_overall_std)
# data.append("Overall" + game_overall_score + [f"${average}_{{\pm{std_dev}}}$"]))
# Create DataFrame
columns = [r"\bf Tests", r"\bf T1 (Default)", r"\bf T2", r"\bf T3", r"\bf T4", r"\bf T5", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

[73.63776975 61.49626396 64.03433859 65.23522954 69.07958427]
66.7
4.7
\begin{tabular}{lllllll}
\bf Tests & \bf T1 (Default) & \bf T2 & \bf T3 & \bf T4 & \bf T5 & \bf $Avg_{\pm Std}$ \\
Guess 2/3 of the Average & $94.9$ & $94.8$ & $94.2$ & $94.1$ & $93.4$ & $94.3_{\pm0.6}$ \\
El Farol Bar & $95.0$ & $41.7$ & $70.8$ & $55.0$ & $87.5$ & $70.0_{\pm22.1}$ \\
Divide the Dollar & $95.7$ & $95.7$ & $94.9$ & $94.0$ & $95.4$ & $95.2_{\pm0.7}$ \\
Public Goods Game & $94.1$ & $88.1$ & $87.4$ & $93.5$ & $91.5$ & $90.9_{\pm3.0}$ \\
Diner’s Dilemma & $23.5$ & $4.5$ & $3.5$ & $8.0$ & $14.0$ & $10.7_{\pm8.3}$ \\
Sealed-Bid Auction & $19.2$ & $18.8$ & $17.7$ & $25.3$ & $23.0$ & $20.8_{\pm3.2}$ \\
Battle Royale & $89.5$ & $60.0$ & $50.0$ & $72.2$ & $65.0$ & $67.3_{\pm14.8}$ \\
Pirate Game & $77.3$ & $88.4$ & $93.7$ & $79.8$ & $82.8$ & $84.4_{\pm6.7}$ \\
\bf Overall & $73.6$ & $61.5$ & $64.0$ & $65.2$ & $69.1$ & $66.7_{\pm4.7}$ \\
\end{tabular}

In [3]:
models = ["gpt-3.5-turbo_", "gpt-4o_", "gemini-1.5-pro_", "llama-3.1-70b_"]
model = models[3]
name = {
    "gpt-3.5-turbo_": "", 
    "gpt-4o_": "gpt-4o_", 
    "gemini-1.5-pro_": "gemini-1.5-pro_", 
    "llama-3.1-70b_": "llama-3.1-70b_"
}
"bar_game_implicit", 
gamename = ["guessing_game", "bar_game_implicit", "divide_dollar", "public_goods", "diner_dilemma", "sealed_bid_auction", "battle_royale", "pirate_game"]
gamedict = {
    "guessing_game": "Guess 2/3 of the Average", 
    "bar_game_implicit": "El Farol Bar", 
    "divide_dollar": "Divide the Dollar",
    "public_goods": "Public Goods Game",
    "diner_dilemma": "Diner’s Dilemma", 
    "sealed_bid_auction": "Sealed-Bid Auction",
    "battle_royale": "Battle Royale",
    "pirate_game": "Pirate Game"
}

In [46]:
import pandas as pd
import numpy as np
data = []
game_scores = []
# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(0, 6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', DivideDollar)
        elif game == "sealed_bid_auction":
            gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1_t{i}.json', SealedBidAuction)
        elif game == "public_goods":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', PublicGoods)
        elif game == "pirate_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', PirateGame)
        elif game == "battle_royale":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_t{i}.json', BattleRoyale)
        x = gamex.compute_score()
        scores.append(x)
    game_scores.append(scores)
    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]
    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])
game_column_mean_score = np.mean(game_scores, axis=0)
game_overall_mean_score = round(np.mean(game_column_mean_score), 1)
game_overall_std = round(np.std(game_column_mean_score,ddof=1,axis=0) ,1)
data.append(["\\bf Overall"] + [f"${round(s, 1)}$" for s in game_column_mean_score] + [f"${game_overall_mean_score}_{{\pm{game_overall_std}}}$"])

# Create DataFrame
columns = [r"\bf Temperature", r"\bf 0.0", r"\bf 0.2", r"\bf 0.4", r"\bf 0.6", r"\bf 0.8", r"\bf 1.0", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

\begin{tabular}{llllllll}
\bf Temperature & \bf 0.0 & \bf 0.2 & \bf 0.4 & \bf 0.6 & \bf 0.8 & \bf 1.0 & \bf $Avg_{\pm Std}$ \\
Guess 2/3 of the Average & $94.4$ & $94.4$ & $94.4$ & $94.4$ & $93.2$ & $94.9$ & $94.3_{\pm0.6}$ \\
El Farol Bar & $66.7$ & $50.8$ & $44.2$ & $65.0$ & $75.0$ & $95.0$ & $66.1_{\pm18.1}$ \\
Divide the Dollar & $100.0$ & $99.1$ & $98.6$ & $94.3$ & $97.7$ & $95.7$ & $97.6_{\pm2.2}$ \\
Public Goods Game & $87.6$ & $87.0$ & $87.2$ & $87.8$ & $92.1$ & $94.1$ & $89.3_{\pm3.0}$ \\
Diner’s Dilemma & $27.0$ & $12.5$ & $8.0$ & $49.5$ & $64.5$ & $23.5$ & $30.8_{\pm21.9}$ \\
Sealed-Bid Auction & $24.6$ & $22.6$ & $24.0$ & $21.2$ & $22.8$ & $19.2$ & $22.4_{\pm2.0}$ \\
Battle Royale & $73.7$ & $50.0$ & $50.0$ & $20.0$ & $77.8$ & $89.5$ & $60.2_{\pm25.2}$ \\
Pirate Game & $99.5$ & $92.7$ & $88.4$ & $75.8$ & $82.3$ & $77.3$ & $86.0_{\pm9.2}$ \\
\bf Overall & $71.7$ & $63.6$ & $61.9$ & $63.5$ & $75.7$ & $73.6$ & $68.3_{\pm6.0}$ \\
\end{tabular}

In [52]:
import pandas as pd
import numpy as np
data = []
# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(1, 6):
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', DivideDollar)
        elif game == "sealed_bid_auction":
            gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v{i}.json', SealedBidAuction)
        elif game == "public_goods":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', PublicGoods)
        elif game == "pirate_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', PirateGame)
        elif game == "battle_royale":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v{i}.json', BattleRoyale)
        x = gamex.compute_score()
        scores.append(x)
    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    scores = [f"${round(s, 1)}$" for s in scores]
    # Append row data for the current game
    data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# Create DataFrame
columns = [r"\bf Version", r"\bf V1 (Default)", r"\bf V2", r"\bf V3", r"\bf V4", r"\bf V5", r"\bf $Avg_{\pm Std}$"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

\begin{tabular}{lllllll}
\bf Version & \bf V1 (Default) & \bf V2 & \bf V3 & \bf V4 & \bf V5 & \bf $Avg_{\pm Std}$ \\
Guess 2/3 of the Average & $94.9$ & $93.0$ & $94.7$ & $94.3$ & $91.6$ & $93.7_{\pm1.4}$ \\
El Farol Bar & $95.0$ & $72.5$ & $37.5$ & $59.2$ & $60.8$ & $65.0_{\pm21.0}$ \\
Divide the Dollar & $95.7$ & $95.7$ & $95.6$ & $93.9$ & $96.1$ & $95.4_{\pm0.9}$ \\
Public Goods Game & $94.1$ & $96.2$ & $89.4$ & $88.6$ & $94.0$ & $92.4_{\pm3.3}$ \\
Diner’s Dilemma & $23.5$ & $50.0$ & $50.0$ & $33.5$ & $37.5$ & $38.9_{\pm11.3}$ \\
Sealed-Bid Auction & $19.2$ & $38.1$ & $35.0$ & $20.3$ & $33.6$ & $29.2_{\pm8.8}$ \\
Battle Royale & $89.5$ & $60.0$ & $10.0$ & $64.7$ & $30.0$ & $50.8_{\pm31.1}$ \\
Pirate Game & $77.3$ & $93.7$ & $67.9$ & $88.9$ & $86.5$ & $82.9_{\pm10.3}$ \\
\end{tabular}

In [84]:

import pandas as pd
import numpy as np
data = []
model = "gpt-3.5-turbo_0125"
sub = ""
row_scores = []
# Collect scores for each game
for game in gamename:
    scores = []  # Reset scores for each game
    for i in range(1, 6):
        if i == 1:
            sub = ""
        if i == 2:
            sub = "_cot1"
        if i > 2:
            sub = f"_role{i-2}"
        if game == "guessing_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', GuessingGame)
        elif game == "bar_game_implicit":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', BarGame)
        elif game == "diner_dilemma":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', DinerDilemma)
        elif game == "divide_dollar":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', DivideDollar)
        elif game == "sealed_bid_auction":
            gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1{sub}.json', SealedBidAuction)
        elif game == "public_goods":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', PublicGoods)
        elif game == "pirate_game":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', PirateGame)
        elif game == "battle_royale":
            gamex = load(f'raw_results/{game}/{name[model]}{game}_v1{sub}.json', BattleRoyale)
        x = gamex.compute_score()
        scores.append(x)
    # Calculate average and standard deviation with one significant figure
    average = round(np.mean(scores), 1)
    std_dev = round(np.std(scores, ddof=1), 1)
    row_scores.append(scores)
    scores = [f"${round(s, 1)}$" for s in scores]
    # Append row data for the current game
    data.append([gamedict[game]] + scores)
overall_row_score = np.mean(row_scores, axis=0)
data.append(["Overall"] + [round(s, 1) for s in overall_row_score])
# Create DataFrame
columns = [r"\bf Improvements", r"\bf Default", r"\bf CoT", r"\bf Cooperative", r"\bf Selfish", r"\bf Mathematician"]
df = pd.DataFrame(data, columns=columns)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

\begin{tabular}{llllll}
\bf Improvements & \bf Default & \bf CoT & \bf Cooperative & \bf Selfish & \bf Mathematician \\
Guess 2/3 of the Average & $65.4$ & $75.1$ & $69.0$ & $14.5$ & $71.4$ \\
El Farol Bar & $73.3$ & $71.7$ & $74.2$ & $63.3$ & $60.0$ \\
Divide the Dollar & $68.1$ & $83.4$ & $70.7$ & $49.7$ & $69.2$ \\
Public Goods Game & $41.2$ & $56.1$ & $32.4$ & $37.4$ & $25.6$ \\
Diner’s Dilemma & $4.0$ & $82.5$ & $0.0$ & $17.5$ & $47.0$ \\
Sealed-Bid Auction & $14.6$ & $5.3$ & $16.3$ & $11.6$ & $13.0$ \\
Battle Royale & $20.0$ & $17.6$ & $6.2$ & $33.3$ & $26.7$ \\
Pirate Game & $80.6$ & $71.2$ & $80.6$ & $74.7$ & $59.5$ \\
Overall & 45.900000 & 57.900000 & 43.700000 & 37.800000 & 46.500000 \\
\end{tabular}

In [54]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[0]
scores = []
for i in range(13):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_r{i}.json', GuessingGame)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-4o_
\begin{tabular}{lllllllllllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 & 11 & 12 & 13 & 14 \\
Guess 2/3 of the Average & $99.3$ & $98.0$ & $96.6$ & $95.0$ & $94.9$ & $88.8$ & $22.7$ & $55.4$ & $46.2$ & $72.8$ & $69.1$ & $76.8$ & $75.0$ & $76.2_{\pm23.4}$ \\
\end{tabular}

In [55]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[1]
scores = []
for i in range(6):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_r{i}.json', BarGame)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-4o_
\begin{tabular}{llllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 \\
El Farol Bar & $99.0$ & $91.2$ & $87.5$ & $95.0$ & $56.9$ & $83.5$ & $85.5_{\pm15.1}$ \\
\end{tabular}

In [56]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[2]
scores = []
for i in range(1,6):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_g{i}.json', DivideDollar)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-4o_
\begin{tabular}{lllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 \\
Divide the Dollar & $92.5$ & $95.7$ & $97.3$ & $97.5$ & $98.3$ & $96.3_{\pm2.3}$ \\
\end{tabular}

In [57]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[3]
print(game)
scores = []
for i in range(0,5):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_r{i}.json', PublicGoods)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-4o_
public_goods
\begin{tabular}{lllllll}
0 & 1 & 2 & 3 & 4 & 5 & 6 \\
Public Goods Game & $100.0$ & $95.3$ & $94.4$ & $88.6$ & $89.8$ & $93.6_{\pm4.6}$ \\
\end{tabular}

In [ ]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[4]
scores = []
for i in range(1,7):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_p{i}.json', DinerDilemma)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

In [ ]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[5]
scores = []
for i in range(0, 4):
    gamex = load(f'raw_results/{game}/first_price/{name[model]}{game}_v1_vr{i}.json', SealedBidAuction)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-4o_
\begin{tabular}{llllll}
0 & 1 & 2 & 3 & 4 & 5 \\
Sealed-Bid Auction & $20.9$ & $23.8$ & $21.4$ & $26.0$ & $23.0_{\pm2.3}$ \\
\end{tabular}

In [60]:
import pandas as pd
import numpy as np
data = []

print(model)
game = gamename[6]
scores = []
for i in range(0, 3):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_h{i}.json', BattleRoyale)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

gpt-4o_
\begin{tabular}{lllll}
0 & 1 & 2 & 3 & 4 \\
Battle Royale & $82.4$ & $55.0$ & $65.0$ & $67.5_{\pm13.8}$ \\
\end{tabular}

In [61]:
from server import *
from global_functions import *
from analysis.analysis import *
from games.guessing_game import *
from games.bar_game import *
from games.diner_dilemma import *
from games.divide_dollar import *
from games.sealed_bid_auction import *
from games.battle_royale import *
from games.public_goods import *
from games.pirate_game import *
models = ["gpt-3.5-turbo_", "gpt-4o_", "gemini-1.5-pro_", "llama-3.1-70b_"]
model = models[0]
name = {
    "gpt-3.5-turbo_": "", 
    "gpt-4o_": "gpt-4o_", 
    "gemini-1.5-pro_": "gemini-1.5-pro_", 
    "llama-3.1-70b_": "llama-3.1-70b_"
}
"bar_game_implicit", 
gamename = ["guessing_game", "bar_game_implicit", "divide_dollar", "public_goods", "diner_dilemma", "sealed_bid_auction", "battle_royale", "pirate_game"]
gamedict = {
    "guessing_game": "Guess 2/3 of the Average", 
    "bar_game_implicit": "El Farol Bar", 
    "divide_dollar": "Divide the Dollar",
    "public_goods": "Public Goods Game",
    "diner_dilemma": "Diner’s Dilemma", 
    "sealed_bid_auction": "Sealed-Bid Auction",
    "battle_royale": "Battle Royale",
    "pirate_game": "Pirate Game"
}

In [ ]:
import pandas as pd
import numpy as np
data = []

game = gamename[7]
scores = []
for i in range(0, 4):
    gamex = load(f'raw_results/{game}/{name[model]}{game}_v1_g{i}.json', PirateGame)
    x = gamex.compute_score()
    scores.append(x)
average = round(np.mean(scores), 1)
std_dev = round(np.std(scores, ddof=1), 1)
scores = [f"${round(s, 1)}$" for s in scores]
data.append([gamedict[game]] + scores + [f"${average}_{{\pm{std_dev}}}$"])

# columns = [r"\bf Game"] + [f"Round {i+1}" for i in range(13)] + [r"$\bf Avg_{\pm Std}$"]

# Create DataFrame
df = pd.DataFrame(data)

# Hide index
df = df.style.hide(axis='index')
print(df.to_latex())
df

\begin{tabular}{llllll}
0 & 1 & 2 & 3 & 4 & 5 \\
Pirate Game & $73.8$ & $47.2$ & $80.6$ & $83.6$ & $71.3_{\pm16.6}$ \\
\end{tabular}